version: '3.8'
services:
  postgres:
    container_name: claritas_postgres
    image: postgres:16-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    container_name: claritas_redis
    image: redis
    command: redis-server --appendonly yes
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  minio:
    container_name: claritas_minio
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: claritas
      MINIO_ROOT_PASSWORD: claritas
    volumes:
      - minio_data:/data

volumes:
  redis_data:
  minio_data:
  postgres_data:
